[Unit]
Description=Stepper Motor for Flip Clock Mechanism 
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/cameron/motor.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
