[Unit]
Description=MQTT IO
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python -m mqtt_io /home/cameron/config.yaml
WorkingDirectory=/home/cameron
User=cameron

[Install]
WantedBy=multi-user.target
