[Unit]
Description=Squeezelite headless streaming music client

After=network.target

[Service]
ExecStart=/usr/bin/squeezelite -o hw:CARD=sndrpihifiberry,DEV=0 -v -s 10.0.1.100 -n Radio -a 80:4

[Install]
WantedBy=multi-user.target
